
openbao:
  global:
    enabled: true
  # csi:
    # enabled: true
  server:
    volumes: 
      - name: openbao-key-volume
        secret:
          defaultMode: 420
          secretName: openbao-key
      - name: openbao-data
        emptyDir: {}
    volumeMounts:
      - mountPath: /secrets
        name: openbao-key-volume
        readOnly: true
      - mountPath: /openbao/data/
        name: openbao-data
    extraSecretEnvironmentVars:
      - envName: INITIAL_ADMIN_PASSWORD
        secretName: openbao-admin-password
        secretKey: password
    dataStorage:
      enabled: false
    ingress:
      enabled: true
      hosts:
        - host: openbao.homelab.lan
    ha:
      enabled: true
      replicas: 1 
      # they all auto initalise and make single node rafts so only 1 for now until a workaround if found
      raft:
        enabled: true
        config: |
          ui = true
          log_level = "trace"
          log_requests_level = "trace"

          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }

          storage "raft" {
            path = "/openbao/data"

            retry_join {
              leader_api_addr = "http://openbao-internal:8200"
            }
          }

          service_registration "kubernetes" {}

          seal "static" {
            current_key_id = "test-1"
            current_key = "file:///secrets/test-1.key"
          }

          # initialize "audit" {
            # request "enable-audit" {
              # operation = "update"
              # path = "sys/audit/stdout"
              # data = {
                # type = "file"
                # options = {
                  # file_path = "/dev/stdout"
                  # log_raw = true
                # }
              # }
            # }
          # }

          initialize "policy" {
            request "add-superuser-policy" {
              operation = "update"
              path = "sys/policies/acl/superuser"
              data = {
                policy = <<EOP
                  path "*" {
                    capabilities = ["create", "update", "read", "delete", "list", "scan", "sudo"]
                  }
                  EOP
              }
            }
          }

          initialize "identity" {
            request "mount-userpass" {
              operation = "update"
              path = "sys/auth/userpass"
              data = {
                type = "userpass"
                description = "admin"
              }
            }

            request "userpass-add-admin" {
              operation = "update"
              path = "auth/userpass/users/admin"
              data = {
                password = {
                  eval_type = "string"
                  eval_source = "env"
                  env_var = "INITIAL_ADMIN_PASSWORD"
                  require_present = true
                }
                "policies" = ["superuser"]
              }
            }
            request "mount-k8s" {
              operation = "update"
              path = "sys/auth/kubernetes"
              data = {
                type = "kubernetes"
                description = "applications"
              }
            }

          }


           initialize "openbao" {
            request "kv" {
              operation = "update"
              path = "sys/mounts/kv"
              data = {
                type = "kv"
                options = {
                  version = "2"
                }
              }
            }
          }

          initialize "pki" {
            request "pki_root" {
              operation = "update"
              path = "sys/mounts/pki_root"
              data = {
                type = "pki"
                config = {
                  options = {
                    max_lease_ttl = "438000h0m0s"
                  }
                }
              }
            }
            request "root_ca" {
              path = "pki_root/root/generate/internal"
              operation = "update"
              data = {
                common_name = "Homelab Root CA"
                ttl = "438000h"
              }
            }
            request "pki_int" {
              operation = "update"
              path = "sys/mounts/pki_int"
              data = {
                type = "pki"
                config = {
                  options = {
                    max_lease_ttl = "87600h0m0s"
                  }
                }
              }
            }
            request "int_ca" {
              path = "pki_int/intermediate/generate/internal"
              operation = "update"
              data = {
                common_name = "Homelab Intermediate CA"
                ttl = "87600h0m0s"
              }
            }

            request "sign-int-csr" {
              path = "pki_root/root/sign-intermediate"
              operation = "update"
              data = {
                format = "pem_bundle"
                csr = {
                  eval_type = "string"
                  eval_source = "response"
                  initialize_name = "pki"
                  request_name = "int_ca"
                  field_selector = ["data", "csr"]
                }
              }
            }
            request "signed-int-cert" {
              path = "pki_int/intermediate/set-signed"
              operation = "update"
              data = {
                certificate = {
                  eval_type = "string"
                  eval_source = "response"
                  initialize_name = "pki"
                  request_name = "sign-int-csr"
                  field_selector = ["data", "certificate"]
                }
              }
            }
          }
