openbao:
  global:
    enabled: true
  server:
    volumes: 
      - name: openbao-key-volume
        secret:
          defaultMode: 420
          secretName: openbao-key
      - name: openbao-config
        emptyDir: {}
    volumeMounts:
      - mountPath: /secrets/test-1.key
        name: openbao-key-volume
        readOnly: true
      - mountPath: /openbao/data/
        name: openbao-config
    dataStorage:
      enabled: false
    ha:
      enabled: true
      raft:
        enabled: true
        config: |
          ui = true
    
          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }
    
          storage "raft" {
            path = "/openbao/data"
          
            retry_join {
              leader_api_addr = "https://openbao-active:8200"
            }
          }
    
          seal "static" {
            current_key_id = "test-1"
            current_key = "file:///secrets/test-1.key"
          }
