---
gateway:
  enabled: true
  name: openbao-gateway
  className: cilium
  annotations:
    cert-manager.io/cluster-issuer: openbao-issuer
  tls-template:
    mode: Terminate
    certificateRefs:
      - kind: Secret
  listeners:
    - name: openbao-https
      protocol: HTTPS
      port: 443
      hostname: openbao.homelab.lan
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: openbao-tls
httpRoutes:
  enabled: true
  parent-ref:
    - name: openbao-gateway
  rule-template:
    - matches:
        - path:
            type: PathPrefix
            value: /
  items:
    - name: openbao
      parentRefs:
        - name: openbao-gateway
      hostnames:
        - openbao.homelab.lan
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: openbao
              port: 8200

secrets:
  enabled: true

  items:
    - name: openbao-key
      type: Opaque
      annotations:
        argocd.argoproj.io/sync-wave: "-1"
      data: 
        test-1.key: "__RANDOM__"
    - name: openbao-admin-password
      type: Opaque
      annotations:
        argocd.argoproj.io/sync-wave: "-1"
      data: 
        password: "__RANDOM__"

openbao:
  global:
    enabled: true
  csi:
    enabled: true
  server:
    volumes:
      - name: openbao-key-volume
        secret:
          defaultMode: 420
          secretName: openbao-key
      - name: openbao-data
        emptyDir: {}
    volumeMounts:
      - mountPath: /secrets
        name: openbao-key-volume
        readOnly: true
      - mountPath: /openbao/data/
        name: openbao-data
    extraSecretEnvironmentVars:
      - envName: INITIAL_ADMIN_PASSWORD
        secretName: openbao-admin-password
        secretKey: password
    extraEnvironmentVars:
      K8_HOST: https://$(KUBERNETES_SERVICE_HOST):$(KUBERNETES_SERVICE_PORT)
    dataStorage:
      enabled: false
    ingress:
      enabled: false
    ha:
      enabled: true
      replicas: 1
      raft:
        enabled: true
        config: >
          ui = true

          log_level = "trace"

          log_requests_level = "trace"


          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }


          storage "raft" {
            path = "/openbao/data"

            retry_join {
              leader_api_addr = "http://openbao-internal:8200"
            }
          }


          service_registration "kubernetes" {}


          seal "static" {
            current_key_id = "test-1"
            current_key = "file:///secrets/test-1.key"
          }


          # initialize "audit" {
            # request "enable-audit" {
              # operation = "update"
              # path = "sys/audit/stdout"
              # data = {
                # type = "file"
                # options = {
                  # file_path = "/dev/stdout"
                  # log_raw = true
                # }
              # }
            # }
          # }


          initialize "policy" {
            request "add-superuser-policy" {
              operation = "update"
              path = "sys/policies/acl/superuser"
              data = {
                policy = <<EOP
                  path "*" {
                    capabilities = ["create", "update", "read", "delete", "list", "scan", "sudo"]
                  }
                  EOP
              }
            }
            request "add-openbao-issuer-policy" {
              operation = "update"
              path = "sys/policies/acl/openbao-issuer"
              data = {
                policy = <<EOP
                  path "pki_int/sign/cert-manager" {
                    capabilities = ["create", "update", "read", "delete", "list"]
                  }
                  EOP
              }
            }
            request "add-ansible-policy" {
              operation = "update"
              path = "sys/policies/acl/ansible"
              data = {
                policy = <<EOP
                  path "kv" {
                    capabilities = ["create", "update", "read", "list"]
                  }
                  EOP
              }
            }
          }


          initialize "identity" {
            request "mount-userpass" {
              operation = "update"
              path = "sys/auth/userpass"
              data = {
                type = "userpass"
                description = "admin"
              }
            }

            request "userpass-add-admin" {
              operation = "update"
              path = "auth/userpass/users/admin"
              data = {
                password = {
                  eval_type = "string"
                  eval_source = "env"
                  env_var = "INITIAL_ADMIN_PASSWORD"
                  require_present = true
                }
                "policies" = ["superuser"]
              }
            }

            request "userpass-add-ansible" {
              operation = "update"
              path = "auth/userpass/users/ansible"
              data = {
                password = {
                  eval_type = "string"
                  eval_source = "env"
                  env_var = "INITIAL_ADMIN_PASSWORD"
                  require_present = true
                }
                "policies" = ["ansible"]
              }
            }

            request "mount-k8s" {
              operation = "update"
              path = "sys/auth/kubernetes"
              data = {
                type = "kubernetes"
                description = "applications"
              }
            }
            request "auth-k8-config" {
              operation = "update"
              path = "auth/kubernetes/config"
              data = {
                kubernetes_host = {
                  eval_type = "string"
                  eval_source = "env"
                  env_var = "K8_HOST"
                  require_present = true
                }
              }
            }
            request "openbao-issuer-role" {
              operation = "update"
              path = "auth/kubernetes/role/openbao-issuer-role"
              data = {
                  bound_service_account_names = "openbao-issuer"
                  bound_service_account_namespaces = "*" 
                  # audience = "vault://openbao-issuer" 
                  policies = "openbao-issuer"
                  ttl = "1m"
                }
              }
            }

          initialize "openbao" {
            request "kv" {
              operation = "update"
              path = "sys/mounts/kv"
              data = {
                type = "kv"
                options = {
                  version = "2"
                }
              }
            }
          }


          initialize "pki" {
            request "pki_root" {
              operation = "update"
              path = "sys/mounts/pki_root"
              data = {
                type = "pki"
                config = {
                    max_lease_ttl = "438000h0m0s"
                }
              }
            }
            request "pki_int" {
              operation = "update"
              path = "sys/mounts/pki_int"
              data = {
                type = "pki"
                config = {
                    max_lease_ttl = "87600h0m0s"
                }
              }
            }
            request "root_ca" {
              path = "pki_root/root/generate/internal"
              operation = "update"
              data = {
                common_name = "Homelab Root CA"
                ttl = "438000h"
              }
            }
            
            request "int_ca" {
              path = "pki_int/intermediate/generate/internal"
              operation = "update"
              data = {
                common_name = "Homelab Intermediate CA"
                ttl = "87600h0m0s"
              }
            }

            request "sign-int-csr" {
              path = "pki_root/root/sign-intermediate"
              operation = "update"
              data = {
                format = "pem_bundle"
                csr = {
                  eval_type = "string"
                  eval_source = "response"
                  initialize_name = "pki"
                  response_name = "int_ca"
                  field_selector = ["data", "csr"]
                }
              }
            }
            request "signed-int-cert" {
              path = "pki_int/intermediate/set-signed"
              operation = "update"
              data = {
                certificate = {
                  eval_type = "string"
                  eval_source = "response"
                  initialize_name = "pki"
                  response_name = "sign-int-csr"
                  field_selector = ["data", "certificate"]
                }
              }
            }
            request "cert-urls" {
              path = "pki_int/config/urls"
              operation = "update"
              data = {
                issuing_certificates="http://openbao.homelab.lan/v1/pki_int/ca" 
                crl_distribution_points="http://openbao.homelab.lan/v1/pki_int/crl"
              }
            }
            request "cert-manager-role" {
              operation = "update"
              path = "pki_int/roles/cert-manager"
              data = {
                allowed_domains = "homelab.lan"
                allow_subdomains = true
                max_ttl = "720h"
                require_cn = false
              }
            }
          }
