openbao:
  global:
    enabled: true
  server:
    volumes: 
      - name: openbao-key-volume
        secret:
          defaultMode: 420
          secretName: openbao-key
    volumeMounts:
      - mountPath: /secrets/test-1.key
        name: openbay-key-volume
        readOnly: true
    dataStorage:
      enabled: false
    ha:
      enabled: true
    raft:
      enabled: true
    config: |
      ui = true

      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }

      seal "static" {
        current_key_id = "test-1"
        current_key = "file:///secrets/test-1.key"
      }
