apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      containers:
        - args:
            - --model
            - base-int8
            - --language
            - en
          
          {{- with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: rhasspy/wyoming-whisper:latest
          name: {{ .Release.Name }}
          ports:
            - containerPort: 10300
              protocol: TCP
          volumeMounts:
            - mountPath: /data
              name: {{ .Release.Name }}-pvc
      restartPolicy: Always
      volumes:
        - name: {{ .Release.Name }}-pvc
          persistentVolumeClaim:
            claimName: {{ .Release.Name }}-pvc
