.deployment-config: &config
  persistentVolumeClaims: null
  ingress:
    enabled: false
  service:
    type: LoadBalancer
  secrets:
  - name: 'apiKey'
    value: 'testingKey1234567890'

prowlarr: 
  <<: *config
  deployment:
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null

sonarr: 
  <<: *config
  deployment:
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null
      downloads:
        epmtyDir:
           sizeLimit: 500Mi
      tv:
        epmtyDir:
           sizeLimit: 500Mi
radarr:
  <<: *config
  deployment:
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null
      downloads:
        epmtyDir:
           sizeLimit: 500Mi
      film:
        epmtyDir:
           sizeLimit: 500Mi

jellyfin:
  <<: *config
  deployment:
    container:
      volumeMounts:
      - name: 'config'
        mountPath: '/config'
      - name: 'film'
        mountPath: '/film'
      - name: 'television'
        mountPath: '/tv'
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null
      film:
        epmtyDir:
           sizeLimit: 500Mi
      television:
        epmtyDir:
           sizeLimit: 500Mi
