.deployment-config: &config
  persistentVolumeClaims: null
  ingress:
    enabled: false
  secrets:
    - name: "apiKey"
      value: "testingKey1234567890"

gateway:
  enabled: true
  name: media-stack-gateway
  className: cilium
  annotations:
    cert-manager.io/cluster-issuer: openbao-issuer
  listeners:
    - name: prowlarr-https
      protocol: HTTPS
      port: 443
      hostname: prowlarr.homelab.lan
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: prowlarr-tls

    - name: sonarr-https
      protocol: HTTPS
      port: 443
      hostname: sonarr.homelab.lan
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: sonarr-tls

    - name: radarr-https
      protocol: HTTPS
      port: 443
      hostname: radarr.homelab.lan
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: radarr-tls

    - name: jellyfin-https
      protocol: HTTPS
      port: 443
      hostname: jellyfin.homelab.lan
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: jellyfin-tls

httpRoutes:
  enabled: true
  items:
    - name: prowlarr
      parentRefs:
        - name: media-stack-gateway
      hostnames:
        - prowlarr.homelab.lan
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: media-stack-prowlarr
              port: 9696

    - name: sonarr
      parentRefs:
        - name: media-stack-gateway
      hostnames:
        - sonarr.homelab.lan
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: media-stack-sonarr
              port: 8989
    - name: radarr
      parentRefs:
        - name: media-stack-gateway
      hostnames:
        - radarr.homelab.lan
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: media-stack-radarr
              port: 7878
    - name: jellyfin
      parentRefs:
        - name: media-stack-gateway
      hostnames:
        - jellyfin.homelab.lan
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: media-stack-jellyfin
              port: 8096

prowlarr:
  <<: *config
  deployment:
    volumes:
      config:
        epmtyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null

sonarr:
  <<: *config

  deployment:
    volumes:
      config:
        epmtyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
      downloads:
        epmtyDir:
          sizeLimit: 500Mi
      tv:
        epmtyDir:
          sizeLimit: 500Mi
radarr:
  <<: *config

  deployment:
    volumes:
      config:
        epmtyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
      downloads:
        epmtyDir:
          sizeLimit: 500Mi
      film:
        epmtyDir:
          sizeLimit: 500Mi

jellyfin:
  <<: *config
  deployment:
    container:
      volumeMounts:
        - name: "config"
          mountPath: "/config"
        - name: "film"
          mountPath: "/film"
        - name: "television"
          mountPath: "/tv"
    volumes:
      config:
        epmtyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
      film:
        epmtyDir:
          sizeLimit: 500Mi
      television:
        epmtyDir:
          sizeLimit: 500Mi
