deployment-config: &config
  deployment:
    volumes:
       config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null

  
  persistentVolumeClaims: null
  ingress:
    enabled: false

prowlarr: *config
sonarr: *config