---
gateway:
  enabled: true
  name: media-stack-gateway
  className: cilium
  annotations:
    cert-manager.io/cluster-issuer: openbao-issuer
  tls-template:
    mode: Terminate
    certificateRefs:
      - kind: Secret
  listeners:
    - name: prowlarr-https
      protocol: HTTPS
      port: 443
      hostname: prowlarr.homelab.lan
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: prowlarr-tls
    - name: sonarr-https
      protocol: HTTPS
      port: 443
      hostname: sonarr.homelab.lan
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: sonarr-tls
    - name: radarr-https
      protocol: HTTPS
      port: 443
      hostname: radarr.homelab.lan
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: radarr-tls
    - name: jellyfin-https
      protocol: HTTPS
      port: 443
      hostname: jellyfin.homelab.lan
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: jellyfin-tls
httpRoutes:
  enabled: true
  parent-ref:
    - name: media-stack-gateway
  rule-template:
    - matches:
        - path:
            type: PathPrefix
            value: /
  items:
    - name: prowlarr
      parentRefs:
        - name: media-stack-gateway
      hostnames:
        - prowlarr.homelab.lan
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: media-stack-prowlarr
              port: 9696
    - name: sonarr
      parentRefs:
        - name: media-stack-gateway
      hostnames:
        - sonarr.homelab.lan
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: media-stack-sonarr
              port: 8989
    - name: radarr
      parentRefs:
        - name: media-stack-gateway
      hostnames:
        - radarr.homelab.lan
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: media-stack-radarr
              port: 7878
    - name: jellyfin
      parentRefs:
        - name: media-stack-gateway
      hostnames:
        - jellyfin.homelab.lan
      rules:
        - matches:
            - path:
                type: PathPrefix
                value: /
          backendRefs:
            - name: media-stack-jellyfin
              port: 8096

job:
  generateName: media-stack-config-
  containerName: config
  enabled: true
  command:
    - /bin/sh

  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation


  image: python:alpine
  args: ["-c", "apk add git; git clone https://github.com/dialgatrainer02-lab/apps; cd apps; pip install -r requirements.txt; ansible-galaxy install -r requirements.yml; ansible-playbook ./playbooks/arrstack.playbook.yml"]
  
  env:
    - name: PROWLARR_API_KEY
      valueFrom:
        secretKeyRef:
          name: media-stack-prowlarr
          key: apiKey
    - name: PROWLARR_URL
      value: http://media-stack-prowlarr:9696/prowlarr
    - name: SONARR_API_KEY
      valueFrom:
        secretKeyRef:
          name: media-stack-sonarr
          key: apiKey
    - name: SONARR_URL
      value: http://media-stack-sonarr:8989/sonarr
    - name: RADARR_API_KEY
      valueFrom:
        secretKeyRef:
          name: media-stack-radarr
          key: apiKey
    - name: RADARR_URL
      value: http://media-stack-radarr:7878/radarr


prowlarr:
  persistentVolumeClaims: null
  ingress:
    enabled: false
  secrets:
    - name: apiKey
      value: testingKey1234567890
  deployment:
    volumes:
      config:
        emptyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
sonarr:
  persistentVolumeClaims: null
  ingress:
    enabled: false
  secrets:
    - name: apiKey
      value: testingKey1234567890
  deployment:
    volumes:
      config:
        emptyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
      downloads:
        emptyDir:
          sizeLimit: 500Mi
      tv:
        emptyDir:
          sizeLimit: 500Mi
radarr:
  persistentVolumeClaims: null
  ingress:
    enabled: false
  secrets:
    - name: apiKey
      value: testingKey1234567890
  deployment:
    volumes:
      config:
        emptyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
      downloads:
        emptyDir:
          sizeLimit: 500Mi
      film:
        emptyDir:
          sizeLimit: 500Mi
jellyfin:
  persistentVolumeClaims: null
  ingress:
    enabled: false
  secrets:
    - name: apiKey
      value: testingKey1234567890
  deployment:
    container:
      volumeMounts:
        - name: config
          mountPath: /config
        - name: film
          mountPath: /film
        - name: television
          mountPath: /tv
    volumes:
      config:
        emptyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
      film:
        emptyDir:
          sizeLimit: 500Mi
      television:
        emptyDir:
          sizeLimit: 500Mi
