.deployment-config: &config
  persistentVolumeClaims: null
  ingress:
    enabled: false

prowlarr: 
  <<: *config
  deployment:
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null

sonarr: 
  <<: *config
  deployment:
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null
      downloads:
        epmtyDir:
           sizeLimit: 500Mi
      tv:
        epmtyDir:
           sizeLimit: 500Mi
  