.deployment-config: &config
  persistentVolumeClaims: null
  secrets:
    - name: "apiKey"
      value: "testingKey1234567890"

gateway:
  enabled: true
  name: media-stack-gateway
  annotations:
    cert-manager.io/cluster-issuer: openbao-issuer
  className: cilium
  listeners:
    - name: prowlarr-listener
      host: prowlarr.homelab.lan
      tls:
        secretName: sonarr-tls
    - name: sonarr-listener
      host: sonarr.homelab.lan
      tls:
        secretName: sonarr-tls
    - name: radarr-listener
      host: radarr.homelab.lan
      tls:
        secretName: radarr-tls
    - name: jellyfin-listener
      host: jellyfin.homelab.lan
      tls:
        secretName: jellyfin-tls

# httpRoutes:
# -- Expose the service via Gateway API HTTPRoute
httpRoute:
  enabled: true

  annotations: {}

  parentRefs:
    - name: media-stack-gateway
      # namespace: default

  hostnames:
    - prowlarr.homelab.lan

  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /prowlarr

      backendRefs:
        - name: media-stack-prowlarr
          port: 9696
          weight: 1

    # Example with filters
    # - matches:
    #     - path:
    #         type: PathPrefix
    #         value: /echo
    #   filters:
    #     - type: RequestHeaderModifier
    #       requestHeaderModifier:
    #         set:
    #           - name: My-Overwrite-Header
    #             value: this-is-the-only-value
    #         remove:
    #           - User-Agent
    #   backendRefs:
    #     - name: echo-service
    #       port: 9000

prowlarr:
  <<: *config
  deployment:
    volumes:
      config:
        epmtyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null

sonarr:
  <<: *config

  deployment:
    volumes:
      config:
        epmtyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
      downloads:
        epmtyDir:
          sizeLimit: 500Mi
      tv:
        epmtyDir:
          sizeLimit: 500Mi
radarr:
  <<: *config

  deployment:
    volumes:
      config:
        epmtyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
      downloads:
        epmtyDir:
          sizeLimit: 500Mi
      film:
        epmtyDir:
          sizeLimit: 500Mi

jellyfin:
  <<: *config
  deployment:
    container:
      volumeMounts:
        - name: "config"
          mountPath: "/config"
        - name: "film"
          mountPath: "/film"
        - name: "television"
          mountPath: "/tv"
    volumes:
      config:
        epmtyDir:
          sizeLimit: 500Mi
        persistentVolumeClaim: null
      film:
        epmtyDir:
          sizeLimit: 500Mi
      television:
        epmtyDir:
          sizeLimit: 500Mi
