.deployment-config: &config
  persistentVolumeClaims: null
  secrets:
  - name: 'apiKey'
    value: 'testingKey1234567890'

prowlarr: 
  <<: *config
  ingress:
    host: prowlarr.local
  deployment:
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null

sonarr: 
  <<: *config
  ingress:
    host: sonarr.local
  deployment:
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null
      downloads:
        epmtyDir:
           sizeLimit: 500Mi
      tv:
        epmtyDir:
           sizeLimit: 500Mi
radarr:
  <<: *config
  ingress:
    host: radarr.local
  deployment:
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null
      downloads:
        epmtyDir:
           sizeLimit: 500Mi
      film:
        epmtyDir:
           sizeLimit: 500Mi

jellyfin:
  <<: *config
  ingress:
    host: jellyfin.local
  deployment:
    container:
      volumeMounts:
      - name: 'config'
        mountPath: '/config'
      - name: 'film'
        mountPath: '/film'
      - name: 'television'
        mountPath: '/tv'
    volumes:
      config:
          epmtyDir:
           sizeLimit: 500Mi
          persistentVolumeClaim: null
      film:
        epmtyDir:
           sizeLimit: 500Mi
      television:
        epmtyDir:
           sizeLimit: 500Mi
