apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: step-clusterissuer-writer
rules:
  - apiGroups: ["certmanager.step.sm"]
    resources:
      - stepclusterissuers
    verbs:
      - create
      - update
      - patch
