apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: certificates-configmap-reader
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups: [""]
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
