home-assistant:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: openbao-issuer
    hosts:
      - host: ha.homelab.lan
        paths:
          - path: /
            pathType: Prefix
        tls:
          - hosts:
              - ha.homelab.lan
            secretName: prowlarr-tls
  

mqtt-broker:
  # service:
    # type: LoadBalancer
  persistence:
    enabled: false

govee2mqtt:
  env:
    - name: GOVEE_MQTT_HOST
      value: mosquitto
    - name: GOVEE_MQTT_PORT
      value: "1883"
    - name: GOVEE_TEMPERATURE_SCALE
      value: C