persistence:
  # Enable or disable persistence
  enabled: true
  # Access mode for the persistent volume claim
  accessMode: ReadWriteOnce
  # Size of the persistent volume claim
  size: 5Gi
  # Storage class for the persistent volume claim
  storageClass: ""
  # Name of the existing volume for the StatefulSet, this option can be used to bind to an existing PV
  existingVolume: ""
  # Name of the existing PVC to use with Deployment, this option can be used to use an existing PVC
  existingClaim: ""
  # Annotations to add to the persistent volume claim
  annotations: {}


service:
  port: 10300