image: python:alpine
command: ["/bin/sh"]
args: ["c", "git clone https://github.com/dialgatrainer02-lab/apps;cd home-lab;ls"]

env:
  - name: PROWLARR_API_KEY
    valueFrom:
      secretKeyRef:
        name: media-stack-prowlarr
        key: apiKey
  - name: PROWLARR_URL
    value: http://media-stack-prowlarr:9696/prowlarr