image: python:alpine
args: ["-c", "apk add git", "git clone https://github.com/dialgatrainer02-lab/apps", "cd home-lab", "pip install -r requirements.txt", "ansible-galaxy install -r requirements.yml", "ansible-playbook ./playbooks/arrstack.playbook.yml", "exit 1"]

env:
  - name: PROWLARR_API_KEY
    valueFrom:
      secretKeyRef:
        name: media-stack-prowlarr
        key: apiKey
  - name: PROWLARR_URL
    value: http://media-stack-prowlarr:9696/prowlarr