image: python:alpine
command:
# HACK call pip first other git will return not found
  - pip --version
  # - git clone https://github.com/dialgatrainer02-lab/home-lab.git &&
  # - ls
  # - cd home-lab
  # - pip install -r requirements.txt
  # - ansible-galaxy install -r requirements.yml
  # - ansible-playbook ./arrstack.playbook.yml -t prowlarr


env:
  - name: PROWLARR_API_KEY
    valueFrom:
      secretKeyRef:
        name: media-stack-prowlarr
        key: apiKey
  - name: PROWLARR_URL
    value: http://media-stack-prowlarr:9696/prowlarr