apiVersion: batch/v1
kind: Job
metadata:
  generateName: media-stack-config
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  template:
    spec:
      containers:
        - name: config
          image: {{ .Values.image }}
          command: /bin/sh
          args: 
             {{- toYaml .Values.args | nindent 12 }}
          {{- with .Values.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      restartPolicy: Never
  backoffLimit: 2
